/*Bordes en CSS*/

h1{
  text-align: center;
}

.solid{
  background-color: hsla(18, 100%, 50%, 0.5);
  border-top-style:solid;
  border-top-color:red;
}
.double{
  background-color: hsla(18, 100%, 50%, 0.5);
  border:double red 10px;}

.dotted{
  background-color: hsla(18, 100%, 50%, 0.5);
  border:dotted rgba(0, 0, 0, 0.7);}

.dashed{
    background-color: hsla(18, 100%, 50%, 0.5);
    border:dashed rgba(0, 0, 0, 0.7);}

.radius{
        background-color: hsla(18, 100%, 50%, 0.5);
        border:dashed red 10px;
        border-radius:25px;
      }
