/*selectores de etiqueta*/
/*Esta linea afecta a todas las etiqueas a con la clase ejemplo*/
a[class="ejemplo"]{
  color:red;
}
h1,p{
  color:green;
  font-family: Arial;
  text-align:center;
}
/*Selectores de clase*/
.ejemplo{
  background-color: blue;
  height: 20px;
}
h2.ejemplo{
  color:white;
  height:40px;
}
/*Selectores de ID*/
#colores > ul > li{
    background-color: yellow;
    color: red;
    font-size: 2em;
}
#orange{
  color:orange !important;
}
#green{
  color:green;
}
#red{
  color:red;
}
