/*CYAN AZUL #00BCD4;*/
/*NEGRO #212121;*/
/*AMARILLO #FFEB3B;*/
/*BLANCO #FFFFFF*/
/*GRIS #BDBDBD*/


html{
  font-family: 'Nunito',sans-serif;
}
a{
  text-decoration: none;
  color:#00BCD4;
}

a:hover{
  opacity: 0.8;
}

a:focus{
  background-color:red;
}

.title{
  text-transform: uppercase;
  text-align: center;
}
 .container{
   background: #00BCD4;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #00CDAC, #00BCD4);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #00CDAC, #00BCD4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height:100vh;
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .content{
   max-width:960px;
   max-height:500px;
   width: 100%;
   height:80vh;
   background-color:white;
   border-radius: 4px;
   box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
   position: relative;
   overflow:auto;
 }

 .content{
 padding:1em;
 }
 td{
   display:block;
   width:100%;
 }
 td:nth-of-type(1)
 {
   font-size:1.5em;
   font-weight:bold;
   color:#CEF6F5;
 }
 th{
   display:none;
 }


.actions{
  position: absolute;
  top:1em;
  right:1em;
}
.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color:#00BCD4;
  display: inline-block;
  box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
  font-size: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
 .paragraph {
   line-height: 1.8em;
   font-weight: 200;
 }

 .table{
   width: 100%;
   border-spacing: 0;
 }
.table td,.table th {
  padding: 1em;
  text-align: left;
}
.table tr:nth-child(even){
  background-color:#CEF6F5;
}
.fa-star{
  color: #FFBF00;
}
.title-item{
  border-bottom:#00BCD4 solid 2px;
  padding-bottom: 1em;
  font-size: 2em;
}
.position{
  background-color:#00CDAC;
  color: white;
  padding:10px;
  border-radius: 4px;
  margin-right:0.5em;
}


@media (min-width:900px) {

  td{
    display:table-cell;
    width:auto;
  }
  td:nth-of-type(1)
  {
     font-size:1em;
  }
  th{
  display:table-cell;
  }
  .content{
       padding:1.8em;
  }
}
@media (min-height:550px)
 {.content
   {
     height:500px;
   }

}
